/*base*/
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: $base-color;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.contents-main-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: normal;
    margin: 150px auto 0;
    text-align: center;
}

.contents-sub-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: normal;
    margin: 0 auto 150px;
    text-align: center;
}
/*base end*/