@media (min-width: 320px) {
    .concept-wrapper {
        background-image: url("images/alejandro.jpg");
        background-size: cover;
        padding: 1px 10px 100px;
        margin-top: 50px;
        text-align: center;
    }

    .concept-title {
        color: white;
    }

    .concept-main-text {
        color: white;
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 50px;
    }

    .concept-sub-text {
        font-weight: normal;
        font-size: 13px;
        margin: 20px auto 100px;
        line-height: 25px;
    }

    .concept-more {
        padding: 10px 100px;
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 17px;
        }
    }

    .concept-content {
        display: flex;
        background-color: white;
    }

    .concept-content-text {
        height: 400px;
        width: 50%;
        padding-top: 75px;
        line-height: 40px;
        text-align: center;
        h1 {
            font-size: 21px;
            font-weight: normal;
            margin: 30px;
        }
        p {
            font-size: 10px;
            line-height: 22px;
        }
    }

    .concept-content-img {
        width: 50%;
        height: 500px;
        object-fit: cover;
        align-content: center;
    }
}
@media (min-width: 768px) {
    .concept-wrapper {
        margin-top: 150px;
    }
    .concept-main-text {
        font-size: 32px;
        margin-bottom: 100px;
    }
    .concept-sub-text {
        font-size: 15px;
        margin: 20px auto 100px;
        line-height: 34px;
    }
    .concept-content-text {
        h1 {
            font-size: 40px;

        }
        p {
            font-size: 17px;
            line-height: 40px;
        }
    }
    .concept-more {
        padding: 10px 50px;
    }
}