.concept-title-container {
    background-image: url(images/alejandro-cartagena-B64B6-kAWlw-unsplash.jpg);
    background-size: cover;
    padding: 1px 10px 100px;
    margin-top: 150px;
    text-align: center;
}

.concept-title {
    color: white;
}

.concept-main-text {
    color: white;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 100px;
}

.concept-sub-text {
    font-weight: normal;
    font-size: 15px;
    margin: 20px auto;
    line-height: 34px;
}

.concept-more {
    background-color: rgb(231, 239, 233, 0.7);
    text-align: center;

    a {
        padding: 30px;
        color: #747171;
    }
}

.concept-more:hover {
    background-color: rgb(219, 224, 149);
}

.more-btn {
    color: $base-color;

    h2 {
        font-weight: normal;
    }

    p {
        font-size: 16px;
    }
}

.more-btn:hover {
    color: $hover-color;
    text-shadow: $hover-shadow;
}

.concept-content {
    display: flex;
}

.concept-content-text {
    height: 400px;
    width: 50%;
    padding-top: 75px;
    line-height: 40px;
    text-align: center;
}

.concept-content-img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    align-content: center;
}

.concept-content-text h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 30px;

}