@media (min-width: 320px) {
    .all-wrapper {
        overflow: hidden;
    }
    .nomal-menu {
        display: none;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: white;
            ul{
                margin-bottom: 0;
                display: flex;
                padding: 0;
                li {
                    font-family: "Times New Roman", Times, serif;
                    width: 20%;
                    text-align: center;
                    margin: 30px;
                    a {
                        color: $base-color;
                    }
                    a:hover {
                        color: $hover-color;
                        text-shadow: $hover-shadow;
                    }
                    h1 {
                        font-size: 22px;
                        font-weight: normal;
                    }
                    p {
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                }
            }
        }

    .hamburger-menu {
        display: block;
    }

    #nav-drawer {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 0;
        margin: 15px 18px;
        position: fixed;
    }

    /*チェックボックス等は非表示に*/
    .nav-unshown {
        display: none;
    }

    /*アイコンのスペース*/
    #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
        margin: 0px;
    }

    /*ハンバーガーアイコンをCSSだけで表現*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 35px;/*長さ*/
        border-radius: 3px;
        background: rgb(162 165 162);
        display: block;
        content: '';
        cursor: pointer;
    }

    #nav-open span:before {
        bottom: -8px;
    }

    #nav-open span:after {
        bottom: -16px;
    }

    /*閉じる用の薄黒カバー*/
    #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 99;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    /*中身*/
    #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: #fff;
        transition: .3s ease-in-out;
        -webkit-transform: translateX(-105%);
        transform: translateX(105%);
        line-height: 50px;
        text-align: center;
        ul {
            padding-left: 0;
            li {
                margin-top: 25px;
                a > h1 {
                    font-size: 20px;
                }
            }
        }
    }

    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked~#nav-close {
        display: block;/*カバーを表示*/
        opacity: .5;
    }

    #nav-input:checked~#nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
        z-index: 9998;
    }

    /*ハンバーガーメニューの中身もろもろ*/
    .hamburger-top {
        position: relative;
        background-color: $cWhite;
        padding: 38px 15px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 5px;
        color: $base-color;
    }

    .hamburger-top .cancel{
        display: inline-block;
        padding: 10px 3px;
    }

    .cancel {
        display: inline-block;
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 20px;
        width: 5px;
        height: 30px;
        background: $base-color;
        transform: rotate(45deg);
        z-index: 99;
    }

    .cancel:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: -13px;
        width: 31px;
        height: 5px;
        margin-top: -3px;
        background: $base-color;
    }

    .menu {
        a {
            color: $base-color;
        }
        a:hover{
            color: $hover-color;
        }
    }

    // ここからメイン画像＆タイトル

    .top-wrapper {
        position: relative;
    }

    .top-photos {
        overflow: hidden;
        img {
            object-fit: cover;
            height: 700px;
        }
    }

    .top-texts {
        width: 70%;
        background-color: rgba(31, 30, 30, 0.2);
        position: absolute;
        top: 25%;
        left: 15%;
        text-align: center;
        color: white;
        font-family: "Times New Roman", Times, serif;
        p {
            font-size: 14px;
            padding-top: 70px;
        }
        h2 {
            font-size: 28px;
            font-weight: normal;
            margin: 35px auto 12px;
        }
        h1 {
            font-size: 45px;
            font-weight: normal;
            padding-bottom: 50px;
        }
    }
}

@media (min-width: 768px){
    .nomal-menu {
        display: block;
        position: fixed;
        width: 100%;
        background-color: white;
            ul{
                margin-bottom: 0;
                display: flex;
                padding: 0;
                li {
                    font-family: "Times New Roman", Times, serif;
                    width: 20%;
                    text-align: center;
                    margin: 15px;
                    a {
                        color: $base-color;
                    }
                    a:hover {
                        color: $hover-color;
                        text-shadow: $hover-shadow;
                    }
                    h1 {
                        font-size: 18px;
                        font-weight: normal;
                    }
                    p {
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                }
            }
        }

    .hamburger-menu {
        display: none;
    }

    // ここからメイン画像＆タイトル

    .top-wrapper {
        position: relative;
    }

    .top-photos {
        overflow: hidden;
        img {
            object-fit: cover;
            height: 800px;
        }
    }

    .top-texts {
        width: 70%;
        background-color: rgba(31, 30, 30, 0.2);
        position: absolute;
        top: 30%;
        left: 15%;
        text-align: center;
        color: white;
        font-family: "Times New Roman", Times, serif;
        p {
            font-size:25px;
            padding-top: 70px;
        }
        h2 {
            font-size: 45px;
            font-weight: normal;
        }
        h1 {
            font-size: 100px;
            font-weight: normal;
            padding-bottom: 40px;
        }
    }
}




