.title-location {
    margin-top: 120px;
}

.roke-map {
    width: 60%;
}

.location-texts {
    font-size: 15px;
    margin: 80px auto;
    text-align: left;
    width: 40%;
}

.location-texts {
    h1 {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #747171;
        line-height: 40px;
    }
}