.service-title-container {
    margin-top: 100px;
    padding: 40px;
    background-image: url(images/pongsawat-pasom-NG0olc0P3vI-unsplash.jpg);
    background-size: cover;
    text-align: center;
}

.service-title-wrapper {
    padding: 40px 0;
}

.service-title {
    color: white;
}

.service-title-main {
    margin: 20px 0 0;
}

.service-title-sub {
    margin: 0 0 20px;
}

.item-list {
    background-color: rgb(148, 177, 150, 0.8);
    width: 45%;
    margin: 0 auto 50px;
    border-radius: 5px;
    padding: 70px 0;
}

.item-list-title {
    font-weight: normal;
    font-size: 24px;
    color: white;
    padding-bottom: 30px;
}

.item-category h2 {
    font-weight: normal;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.detaile {
    background-color: rgb(231, 239, 233, 0.7);
    text-align: center;
}

.detaile-btn {
    padding: 20px 30px;
    border-radius: 3px;
    font-size: 16px;
    color: #747171;
}

.detaile-btn:hover {
    color: #1d1c1c;
}

.detaile-btn h2 {
    font-weight: normal;
}

.service-items-container {
    text-align: center;
}

.item {
    margin: 150px 50px;
}

.item-text {
    margin-bottom: 60px;
}

.item-text-title {

    h1 {
        font-weight: normal;
        font-size: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #747171;
        margin-bottom: 60px;
    }

    p {
        font-size: 18px;
        margin-bottom: 50px;
        line-height: 32px;
    }
}

.item-images {
    display: flex;
}

.item-image img {
    width: 20%;
    height: 250px;
    object-fit: cover;
}