.single-page-top-wrapper {
    height: 200px;
    background-image: url(images/wilsan-u-aiUIs74ejx8-unsplash.jpg);
    background-size: cover;
    text-align: center;
  }

.single-page-top-texts {
    margin: 9px 430px;
    /*margin横これじゃないと四角が中心にこない*/
    background-color: rgba(31, 30, 30, 0.2);
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.single-page-sub-title {
    font-size: 18px;

    p {
        margin-top: 25px;
    }
}

.single-page-main-title {
    display: flex;
    margin: 15px 120px;

    h2 {
        font-size: 30px;
        font-weight: normal;
        margin: 26px 0;
    }

    h1 {
        font-size: 67px;
        margin-left: 30px;
        font-weight: normal;
    }
}

.single-contents-main-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: normal;
    margin: 100px auto 0;
    text-align: center;
}

.single-contents-sub-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: normal;
    margin: 0 auto 100px;
    text-align: center;
}

.return-to-toppage {
    margin-left: 100px;
    cursor: pointer;
}

.return-to-toppage:hover {
    color: $hover-color;
}

.single-news-main {
    display: flex;
}

.single-post {
    margin: 50px 100px;

    img {
        border-radius: 10px;
    }
}

.single-post-category {
    background-color: #A7D3A5;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: normal;
    padding: 5px 10px;
    width: 20%;
    margin-top: 30px;
    text-align: center;
}

.post-tags {
    display: flex;
    margin-bottom: 30px;

    p {
        margin-top: 30px;
        margin-right: 10px;
    }
}

.post-tag {
    background-color: #b1b190;
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    font-weight: normal;
    border-radius: 5px;
}

.single-post-date {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;
}

.single-post-title {
    font-size: 32px;
    margin-bottom: 30px;
}

.single-post-content {
    font-size: 18px;
}

.like-btn {
    background-color: rgb(24, 119, 207);
    width: 10%;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    margin: 100px 0;

    i {
        color: rgb(194, 29, 29);
    }

    p {
        color: white;
        font-size: 16px;
        margin-left: 10px;
    }
}

.side-bar {
    padding: 0 70px;
}


.side-bar-title {
    margin: 50px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    h2 {
        font-weight: normal;
    }
}

.side-bar-content {
    margin-bottom: 70px;
    a {
        color: $base-color;
    }
}

.side-bar-content a:hover {
    color: $hover-color;
    box-shadow: 0 10px 25px 0 rgba(96, 163, 105, 0.5);
}

.side-content-img {
    width: 100%;
}

.side-content-text p {
    font-size: 12px;
}

.side-post-title {
    font-size: 14px;
}

.side-bar-blog-link {
    text-align: center;
    margin: 150px auto 100px;
}

.side-blog-link a {
    img {
        width: 55%;
        height: 85px;
        object-fit: cover;
        border-radius: 50%;
    }
    p {
        color: $base-color;
        font-size: 14px;
    }
}

.side-blog-link a:hover {
    color: $hover-color;

    img {
        box-shadow: 0 10px 25px 0 rgba(96, 163, 105, 0.5);
    }
}