$base-color: #4d4c4c;

$hover-color: #b3b4b2;

$hover-shadow: 0 2px 0 #555454;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$cWhite: white;
$cBlack: black;