@charset "UTF-8";
.full-width-container {
  width: 100%;
  margin: 0;
}

.column-1 {
  width: 8.333%;
}

.column-2 {
  width: 16.667%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.333%;
}

.column-5 {
  width: 41.667%;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.333%;
}

.column-8 {
  width: 66.667%;
}

.column-9 {
  width: 75%;
}

.column-10 {
  width: 83.333%;
}

.column-11 {
  width: 91.667%;
}

.column-12 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  color: #4d4c4c;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

h1, h2, p {
  margin: 0;
}

@media (min-width: 320px) {
  .contents-main-title {
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    text-align: center;
    font-size: 27px;
    margin: 100px auto 0;
  }

  .contents-sub-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto 50px;
    text-align: center;
  }

  button {
    background-color: rgba(231, 239, 233, 0.7);
    padding: 16px;
    color: #4d4c4c;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
  }
  button h2 {
    font-weight: normal;
  }
  button p {
    font-size: 16px;
  }
  button:hover {
    background-color: #cbd2cb8a;
    letter-spacing: 3px;
    color: white;
    width: 250px;
  }
}
@media (min-width: 768px) {
  .container {
    text-align: center;
  }

  .contents-main-title {
    font-size: 50px;
    margin: 150px auto 0;
  }

  .contents-sub-title {
    font-size: 23px;
    margin: 0 auto 100px;
  }

  button {
    border-radius: 20px;
  }
  button:hover {
    width: 350px;
  }
}
@media (min-width: 320px) {
  .all-wrapper {
    overflow: hidden;
  }

  .nomal-menu {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  .nomal-menu ul {
    margin-bottom: 0;
    display: flex;
    padding: 0;
  }
  .nomal-menu ul li {
    font-family: "Times New Roman", Times, serif;
    width: 20%;
    text-align: center;
    margin: 30px;
  }
  .nomal-menu ul li a {
    color: #4d4c4c;
  }
  .nomal-menu ul li a:hover {
    color: #b3b4b2;
    text-shadow: 0 2px 0 #555454;
  }
  .nomal-menu ul li h1 {
    font-size: 22px;
    font-weight: normal;
  }
  .nomal-menu ul li p {
    font-size: 13px;
    margin-bottom: 0;
  }

  .hamburger-menu {
    display: block;
  }

  #nav-drawer {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    margin: 15px 18px;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    margin: 0px;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 35px;
    /*長さ*/
    border-radius: 3px;
    background: white;
    /*線の色*/
    display: block;
    content: "";
    cursor: pointer;
  }

  #nav-open span:before {
    bottom: -8px;
  }

  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 0.3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(105%);
    line-height: 85px;
    text-align: center;
  }
  #nav-content ul {
    padding-left: 0;
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;
    /*カバーを表示*/
    opacity: 0.5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
    z-index: 9998;
  }

  /*ハンバーガーメニューの中身もろもろ*/
  .hamburger-top {
    position: relative;
    background-color: white;
    padding: 38px 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
    color: #4d4c4c;
  }

  .hamburger-top .cancel {
    display: inline-block;
    padding: 10px 3px;
  }

  .cancel {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
    width: 5px;
    height: 30px;
    background: #4d4c4c;
    transform: rotate(45deg);
    z-index: 99;
  }

  .cancel:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -13px;
    width: 31px;
    height: 5px;
    margin-top: -3px;
    background: #4d4c4c;
  }

  .menu a {
    color: #4d4c4c;
  }
  .menu a:hover {
    color: #b3b4b2;
  }

  .top-wrapper {
    position: relative;
  }

  .top-photos {
    overflow: hidden;
  }
  .top-photos img {
    object-fit: cover;
    height: 700px;
  }

  .top-texts {
    width: 70%;
    background-color: rgba(31, 30, 30, 0.2);
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
  .top-texts p {
    font-size: 14px;
    padding-top: 70px;
  }
  .top-texts h2 {
    font-size: 28px;
    font-weight: normal;
    margin: 35px auto 12px;
  }
  .top-texts h1 {
    font-size: 45px;
    font-weight: normal;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .nomal-menu {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  .nomal-menu ul {
    margin-bottom: 0;
    display: flex;
    padding: 0;
  }
  .nomal-menu ul li {
    font-family: "Times New Roman", Times, serif;
    width: 20%;
    text-align: center;
    margin: 30px;
    font-size: 20px;
  }
  .nomal-menu ul li a {
    color: #4d4c4c;
  }
  .nomal-menu ul li a:hover {
    color: #b3b4b2;
    text-shadow: 0 2px 0 #555454;
  }
  .nomal-menu ul li h1 {
    font-size: 22px;
    font-weight: normal;
  }
  .nomal-menu ul li p {
    font-size: 13px;
    margin-bottom: 0;
  }

  .hamburger-menu {
    display: none;
  }

  .top-wrapper {
    position: relative;
  }

  .top-photos {
    overflow: hidden;
  }
  .top-photos img {
    object-fit: cover;
    height: 900px;
  }

  .top-texts {
    width: 70%;
    background-color: rgba(31, 30, 30, 0.2);
    position: absolute;
    top: 35%;
    left: 15%;
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
  .top-texts p {
    font-size: 25px;
    padding-top: 70px;
  }
  .top-texts h2 {
    font-size: 45px;
    font-weight: normal;
  }
  .top-texts h1 {
    font-size: 100px;
    font-weight: normal;
    padding-bottom: 40px;
  }
}
@media (min-width: 320px) {
  .news-wrapper .container {
    text-align: center;
  }

  .posts {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }

  .post {
    text-align: left;
    margin: 5px;
    width: 33%;
  }
  .post a {
    color: #4d4c4c;
  }
  .post a .blog-pic {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .post a:hover {
    color: #b3b4b2;
  }
  .post a:hover .blog-pic {
    width: 100%;
  }

  .post-pic img {
    border-radius: 20px;
    width: 80%;
    height: 400px;
    object-fit: cover;
    margin: 0px 150px;
  }

  .post-category {
    background-color: #A7D3A5;
    border-radius: 5px;
    font-size: 5px;
    color: white;
    font-weight: normal;
    padding: 3px 8px;
    width: 30%;
    text-align: center;
  }

  .post-date {
    font-weight: normal;
    font-size: 10px;
    margin: 5px 0;
  }

  .post-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .pagenation {
    width: 15%;
    margin: 50px auto;
  }
  .pagenation a {
    color: #4d4c4c;
  }
  .pagenation a p {
    margin-top: 85px;
    letter-spacing: 10px;
    font-size: 18px;
    color: #4d4c4c;
  }
  .pagenation a:hover {
    color: #b3b4b2;
  }

  .blog-wrapper {
    text-align: center;
  }

  .blog-info {
    font-size: 12px;
    margin-bottom: 50px;
  }

  .blog-links {
    display: flex;
  }

  .blog-link {
    margin: 50px auto;
  }
  .blog-link a {
    color: #4d4c4c;
    z-index: 1;
  }
  .blog-link a img {
    /*ここのアイコンを正方形に統一したい*/
    width: 50%;
    height: 93px;
    object-fit: cover;
    border-radius: 50%;
  }
  .blog-link a p {
    font-size: 16px;
    margin: 30px;
    z-index: 2;
  }
  .blog-link a:hover {
    color: #b3b4b2;
  }
  .blog-link a:hover img {
    width: 30%;
    height: 200px;
    box-shadow: 0 10px 25px 0 rgba(121, 192, 130, 0.5);
  }
}
@media (min-width: 768px) {
  .post {
    margin: 18px;
  }
  .post a .blog-pic {
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .post a:hover .blog-pic {
    width: 100%;
  }

  .post-category {
    border-radius: 5px;
    font-size: 11px;
    padding: 5px 10px;
    width: 30%;
  }

  .blog-info {
    font-size: 17px;
  }

  .blog-link a img {
    /*ここのアイコンを正方形に統一したい*/
    width: 20%;
    height: 150px;
  }
}
@media (min-width: 320px) {
  .concept-wrapper {
    background-image: url("images/alejandro.jpg");
    background-size: cover;
    padding: 1px 10px 100px;
    margin-top: 50px;
    text-align: center;
  }

  .concept-title {
    color: white;
  }

  .concept-main-text {
    color: white;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 50px;
  }

  .concept-sub-text {
    font-weight: normal;
    font-size: 13px;
    margin: 20px auto 50px;
    line-height: 25px;
  }

  .concept-more {
    padding: 0px 50px;
  }
  .concept-more h2 {
    font-size: 20px;
  }
  .concept-more p {
    font-size: 14px;
  }

  .concept-content {
    background-color: white;
  }

  .idea {
    display: grid;
  }

  .idea-img {
    order: 2;
  }

  .idea-text {
    order: 1;
  }

  .concept-content-text {
    height: 300px;
    width: 100%;
    padding-top: 35px;
    line-height: 40px;
    text-align: center;
  }
  .concept-content-text h1 {
    font-size: 21px;
    font-weight: normal;
    margin: 30px;
  }
  .concept-content-text p {
    font-size: 10px;
    line-height: 22px;
  }

  .concept-content-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .concept-wrapper {
    margin-top: 150px;
  }

  .concept-main-text {
    font-size: 32px;
    margin-bottom: 100px;
  }

  .concept-sub-text {
    font-size: 20px;
    margin: 20px auto 100px;
    line-height: 40px;
  }

  .concept-content-text {
    height: 400px;
    width: 50%;
    padding-top: 75px;
  }
  .concept-content-text h1 {
    font-size: 40px;
  }
  .concept-content-text p {
    font-size: 17px;
    line-height: 40px;
  }

  .concept-content-img {
    width: 50%;
    height: 500px;
  }

  .concept-more {
    padding: 10px 50px;
  }
  .concept-more h2 {
    font-size: 32px;
  }
  .concept-more p {
    font-size: 14px;
  }

  .concept-content {
    display: flex;
    background-color: white;
  }

  .idea-img {
    order: 1;
  }

  .idea-text {
    order: 2;
  }
}
@media (min-width: 320px) {
  .service-wrapper {
    background-image: url("images/pongsawat-pasom-NG0olc0P3vI-unsplash.jpg");
    background-size: cover;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
  }

  .service-title-wrapper {
    padding: 0;
    color: white;
  }

  .service-title-main {
    margin: 10px 0 0;
  }

  .service-title-sub {
    margin: 0 0 50px;
  }

  .item-list {
    background-color: rgba(148, 177, 150, 0.8);
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px 0;
  }

  .item-list-title {
    font-weight: normal;
    font-size: 23px;
    color: white;
    padding-bottom: 50px;
  }

  .item-category {
    margin-bottom: 50px;
  }
  .item-category h2 {
    font-weight: normal;
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
  }

  .detaile {
    padding: 0 40px;
  }
  .detaile h2 {
    font-size: 20px;
  }
  .detaile p {
    font-size: 14px;
  }

  .item {
    margin: 60px 0;
  }

  .service-items-container {
    text-align: center;
  }

  .item {
    margin: 70px 10px;
  }

  .item-text {
    margin-bottom: 60px;
  }

  .item-text-title h1 {
    font-weight: normal;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid #747171;
    margin-bottom: 30px;
  }
  .item-text-title p {
    font-size: 12px;
    margin-bottom: 30px;
    line-height: 20px;
  }

  .item-images {
    display: flex;
  }
  .item-images img {
    width: 50%;
    height: 120px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .service-title-wrapper {
    padding: 40px 0;
  }

  .service-title-main {
    margin: 50px 0 0;
  }

  .service-title-sub {
    margin: 0 0 80px;
  }

  .item-list {
    width: 70%;
    padding: 150px 0;
  }

  .item-list-title {
    font-size: 34px;
    padding-bottom: 85px;
  }

  .item-category {
    margin-bottom: 100px;
  }
  .item-category h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .detaile {
    padding: 10px 50px;
  }
  .detaile h2 {
    font-size: 32px;
  }

  .item {
    margin: 100px 0;
  }

  .item {
    margin: 150px 50px;
  }

  .item-text-title h1 {
    font-size: 25px;
    padding-bottom: 30px;
    margin-bottom: 60px;
  }
  .item-text-title p {
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 42px;
  }

  .item-images img {
    height: 350px;
  }
}
@media (min-width: 320px) {
  .location-wrapper {
    text-align: center;
  }

  .title-location {
    margin-top: 100px;
  }

  .roke-map {
    width: 90%;
    height: 300px;
  }

  .location-texts {
    margin: 60px auto;
    text-align: left;
    width: 75%;
  }

  .location-texts h1 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .location-texts p {
    font-size: 12px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #747171;
    line-height: 25px;
  }
}
@media (min-width: 768px) {
  .title-location {
    margin-top: 120px;
  }

  .roke-map {
    width: 60%;
    height: 500px;
  }

  .location-texts {
    margin: 80px auto;
    width: 40%;
  }

  .location-texts h1 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .location-texts p {
    font-size: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 40px;
  }
}
@media (min-width: 320px) {
  .footer-wrapper {
    background-color: #D2D9D4;
    font-family: "Times New Roman", Times, serif;
    padding: 25px;
  }

  .footer-container {
    width: 90%;
    margin: 30px auto;
    text-align: center;
  }

  .shop-title {
    text-align: left;
  }

  .shop-sub-title p {
    font-size: 14px;
    margin: 20px 0 0;
  }

  .shop-main-title {
    margin: 10px 0;
  }
  .shop-main-title h2 {
    font-size: 16px;
    font-weight: normal;
  }
  .shop-main-title h1 {
    font-size: 30px;
    font-weight: normal;
  }

  .menu-list {
    margin: 10px 0;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }

  .menu-and-logo {
    display: flex;
    margin-top: 40px;
    position: relative;
  }

  .logo {
    width: 47%;
    position: absolute;
    right: 0;
  }

  .sns-icons {
    display: flex;
    width: 100%;
    margin: 50px 50px 30px;
  }
  .sns-icons a {
    color: #4d4c4c;
  }
  .sns-icons a:hover {
    color: #b3b4b2;
    text-shadow: 0px 2px 2px #555454;
  }

  .facebook p {
    font-size: 12px;
  }

  .sns-icon {
    font-size: 20px;
    margin: 0 20px;
  }

  .copyright {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .footer-wrapper {
    padding: 45px 0;
  }

  .footer-container {
    width: 65%;
  }

  .shop-sub-title p {
    font-size: 20px;
    margin: 30px 0;
  }

  .shop-main-title {
    display: flex;
    margin-top: 10px;
  }
  .shop-main-title h2 {
    font-size: 30px;
    margin-right: 70px;
  }
  .shop-main-title h1 {
    font-size: 60px;
  }

  .menu-list {
    font-size: 20px;
    line-height: 50px;
  }

  .menu-and-logo {
    margin-top: 30px;
  }

  .logo {
    width: 40%;
  }

  .sns-icons {
    width: 20%;
    margin: 100px auto 50px;
  }

  .facebook p {
    font-size: 16px;
  }

  .sns-icon {
    font-size: 30px;
    margin: 0 20px;
  }
}
.single-page-top-wrapper {
  height: 300px;
  background-image: url(images/wilsan-u-aiUIs74ejx8-unsplash.jpg);
  background-size: cover;
  text-align: center;
}

.single-page-top-texts {
  margin: 111px 430px;
  /*margin横これじゃないと四角が中心にこない*/
  background-color: rgba(31, 30, 30, 0.2);
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.single-page-sub-title {
  font-size: 18px;
}
.single-page-sub-title p {
  margin-top: 25px;
}

.single-page-main-title {
  display: flex;
  margin: 15px 120px;
}
.single-page-main-title h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 26px 0;
}
.single-page-main-title h1 {
  font-size: 67px;
  margin-left: 30px;
  font-weight: normal;
}

.single-contents-main-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: normal;
  margin: 100px auto 0;
  text-align: center;
}

.single-contents-sub-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: normal;
  margin: 0 auto 100px;
  text-align: center;
}

.return-to-toppage {
  margin-left: 100px;
  cursor: pointer;
}

.return-to-toppage:hover {
  color: #b3b4b2;
}

.single-news-main {
  display: flex;
}

.single-post {
  margin: 50px 100px;
}
.single-post .single-post-pic {
  border-radius: 10px;
}

.single-post-category {
  background-color: #A7D3A5;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  font-weight: normal;
  padding: 5px 10px;
  width: 20%;
  margin-top: 30px;
  text-align: center;
}

.post-tags {
  display: flex;
  margin-bottom: 30px;
}
.post-tags a {
  margin-top: 30px;
  margin-right: 10px;
  background-color: #b1b190;
  padding: 5px 10px;
  font-size: 18px;
  color: white;
  font-weight: normal;
  border-radius: 5px;
}

.single-post-date {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 30px;
}

.single-post-title {
  font-size: 32px;
  margin-bottom: 30px;
}

.single-post-content {
  font-size: 18px;
}

.like-btn {
  background-color: #1877cf;
  width: 10%;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  margin: 100px 0;
}
.like-btn i {
  color: #c21d1d;
}
.like-btn p {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.side-bar {
  padding: 0 70px;
}

.side-bar-title {
  margin: 50px 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.side-bar-title h2 {
  font-weight: normal;
}

.side-bar-content {
  margin-bottom: 70px;
}
.side-bar-content a {
  color: #4d4c4c;
}

.side-bar-content a:hover {
  color: #b3b4b2;
  box-shadow: 0 10px 25px 0 rgba(96, 163, 105, 0.5);
}

.side-content-img {
  width: 100%;
}

.side-content-text p {
  font-size: 12px;
}

.side-post-title {
  font-size: 14px;
}

.side-bar-blog-link {
  text-align: center;
  margin: 150px auto 100px;
}

.side-blog-link a img {
  width: 55%;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
}
.side-blog-link a p {
  color: #4d4c4c;
  font-size: 14px;
}

.side-blog-link a:hover {
  color: #b3b4b2;
}
.side-blog-link a:hover img {
  box-shadow: 0 10px 25px 0 rgba(96, 163, 105, 0.5);
}

/*# sourceMappingURL=style.css.map */
